.transactionHistory {
    width: 100%;
  }
  
  thead {
    background-color: black;
    color: #ffffff;
    /* border: 1px solid black; */
  }
  
  tr {
    text-align: center;
    height: 45px;
  }
  
  tr:nth-child(2n) {
    background-color: #f1f1f1;
  }